@use '../abstracts' as *;

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    justify-items: stretch;
    gap: 35px;
    @include respond-to ('medium') {
        grid-template-columns: 1fr 1fr 1fr;
    }
}