* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Avenir;
}

/*#page-header {
	border: 10px black solid;
	text-align: center;
	position: sticky;
	top: 0;
}

h1 {
	display: inline-block;
	text-align: center;
	font-weight: 900;
	white-space: nowrap;
	font-size: calc(1.2em + 1.5vw);
	background-color: #FFF;
}*/

#dots-group {
	font-size: 3vw;
	line-height:80%;
	width: 100%;
}

#dots-1 {
	transform: rotate(1deg);
	position: fixed;
	text-align: center;
	width: 100%;
	
}

#dots-2 {
	transform: rotate(-1deg);
	position: fixed;
	text-align: center;
	width: 100%;
	
}