* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Avenir;
}

h1 {
	text-align: center;
	font-weight: 900;
	border: 10px black solid;
}

#text-art {
	font-family: monospace;
	border: 1px red dashed;
	margin: 0 auto;
	border: 1px red dashed;
}
/*
#text-art-inner {
	display: inline-block;
}*/

pre {
	font-family: monospace;
	font-size: 2vw;
	text-align: center;
}