.grid-about {
    display: grid;
    // grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    @include respond-to ('medium') {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 35px;
    }
}