@use '../abstracts' as *;

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: 300 20px $text-font-stack;
}

/**
 * Headings and bold text use Montserrat Medium
 */
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 500;
}

/**
 * Basic typography style for ASCII
 */

pre {
  font-family: $ascii-font-stack;
  font-weight: 500;
  line-height: 100%;
}

.header a {
  text-decoration: none;
}