<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
	<meta name="description" content="{{ page.description | escape }}">
	<link rel="canonical" href="{{ page.url | absolute_url }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ page.title | default: site.title | escape }}">
	<meta property="og:description" content="{{ page.description | escape }}">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
{%- if page.image %}
	<meta property="og:image" content="{{ page.image | absolute_url }}">
	<meta property="og:image:alt" content="{{ page.image_alt | escape }}">
	<meta name="twitter:card" content="summary_large_image">
{%- endif %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ '/css/sass.css' | relative_url }}">
{%- if page.lightbox %}
	<link rel="stylesheet" href="{{ '/css/simple-lightbox.min.css' | relative_url }}">
	<script src="{{ '/js/simple-lightbox.min.js' | relative_url }}" defer></script>
{%- endif %}
</head>
<body>
{% include header.html %}
<main>
{{ content }}
</main>
</body>
</html>
