<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Evan Montpellier{% if page.title %} | {{ page.title }}{% endif %}</title>
	<meta name="description" content="{{ page.description }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,500&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/sass.css">
{%- if page.lightbox %}
	<link rel="stylesheet" href="./css/simple-lightbox.min.css">
	<script src="./js/simple-lightbox.min.js" defer></script>
{%- endif %}
</head>
<body>
{% include header.html %}
<main>
{{ content }}
</main>
</body>
</html>
